{% load static %}

<header class="section-header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">ShopHere</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">About</a>
          </li>
  <div class="col-lg col-sm col-md col-6 flex-grow-0">
    <div class="category-wrap dropdown d-inline-block float-right">
      <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bars"></i> All category
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'store' %}">All Products </a>
        {% for category in links %}
          <a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }} </a>
        {% endfor %}
      </div>
    </div>  <!-- category-wrap.// -->
  </div> <!-- col.// -->
          <li class="nav-item">
            <a href="#" class="nav-link"> <i class="fa fa-envelope"></i> Email </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> <i class="fa fa-phone"></i> Call us </a>
          </li>
        </ul>
      </div>
      <form action="{% url 'search' %}" class="search mx-4" method="GET">
        <div class="input-group w-100">
          <input type="text" class="form-control" style="width: 60%;" placeholder="Search" name="keyword">
          <div class="input-group-append">
            <button class="btn btn-outline-dark" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>

        <div class="d-flex justify-content-end mb-3 mb-lg-0">
                 {% if user.id is None %}
          <div class="widget-header">
            <small class="title text-muted">Welcome guest!</small>
            <div>
              <a href="{% url 'login' %}">Login</a> <span class="dark-transp"> | </span>
              <a href="{% url 'register' %}"> Register</a>
            </div>
          </div>
                    {% else %}
          <div class="widget-header">
            <small class="title text-muted">Welcome {{user.first_name}}!</small>
            <div>
              <a href="{% url 'dashboard' %}">Dashboard</a> <span class="dark-transp"> | </span>
              <a href="{% url 'logout' %}"> Logout</a>
            </div>
          </div>
              {% endif %}
          <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3">
            <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
            <span class="badge badge-pill badge-danger notify">{{cart_count}}</span>
          </a>
        </div> <!-- widgets-wrap.// -->
  </nav>
</header>
